/*  your css code here. If applicable */
*{
    padding: 0;
    margin: 0;
    /* background-color: red; */
}
#grid-container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    justify-content: center;
   padding-top: 40px;
   background-color: #e7e7e7;
   width: fit-content;
   gap: 5px;
   
}
#grid-container >div{ 
     font-size: large;
     border: 1px solid black;
     height: 80px;
     align-items: center;
     gap: 2px;
     background-color: white;
     transition: all 2s ease;
     
}
.color-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-form>input{
    width: 100px;
}